{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "Babel": true,
    "React": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "global-require": "off",
    "object-curly-newline": "off",
    "import/no-unresolved": "off",
    "import/no-dynamic-require": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "react/sort-comp": "off",
    "react/prop-types": "off",
    "react/jsx-indent": "off",
    "react/jsx-no-bind": "off",
    "react/no-multi-comp": "off",
    "react/jsx-curly-newline": "off",
    "react/state-in-constructor": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-first-prop-new-line": "off",
    "react/destructuring-assignment": "off",
    "react/static-property-placement": "off",
    "react/prefer-stateless-function": "off",
    "no-new-func": "off",
    "no-console": "warn",
    "no-param-reassign": "off",
    "no-restricted-syntax": "off",
    "no-use-before-define": "off",
    "no-underscore-dangle": "off"
  }
}
